<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../js/app.js" defer></script>
</head>
<body>
    <div id="result" class="result">

    </div>
    <div class="container">
        <div class="banner" id="banner">
            <img src="../../media/1.png" alt="banner">
        </div>
        <div class="inner" id="inner">
            <div class="item">
                <a id="item-1" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Почвопокровные</div>
            </div>
            <div class="item">
                <a id="item-2" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Декоративные</div>
            </div>
            <div class="item">
                <a id="item-3" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Колоновидные</div>
            </div>
            <div class="item">
                <a id="item-4" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Burger</div>
            </div>
            <div class="item">
                <a id="item-5" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Burger</div>
            </div>
            <div class="item">
                <a id="item-6" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Burger</div>
<!--                <button class="btn" id="btn6">Add</button>-->
            </div>
        </div>
        <div class="inner-2" id="inner-2">
            <div class="item">
                <a id="item-7" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Катюха</div>
            </div>
            <div class="item">
                <a id="item-8" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Артем</div>
            </div>
            <div class="item">
                <a id="item-9" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Антон</div>
            </div>
            <div class="item">
                <a id="item-10" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Алена</div>
            </div>
            <div class="item">
                <a id="item-11" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Burger</div>
            </div>
            <div class="item">
                <a id="item-12" href="#"><img src="../../media/1.png" alt="Burger" class="img"></a>
                <div class="item-name">Burger</div>
<!--                <button class="btn" id="btn6">Add</button>-->
            </div>
        </div>
    </div>

    <template id="quantity-template">
        <div class="item">
            <input type="number" id="quantity" name="quantity" min="0" value="1">
            <button class="btn">Добавить в корзину</button>
        </div>
    </template>
</body>
</html>